* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* BACKGROUND - CONTAINER - STYLE */

.container {
    height: 100vh;
    width: 100%;
    background-image: url("./../images/image.png");
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center;   /* Center the image */
    background-size: cover;        /* Cover the entire element */
    position: relative;
}

/* HEADER */

header {
  width: 88%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 140px;
  cursor: pointer;
}

header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/* MAIN SECTION */

#content {
  width: 100%;
  position: absolute;
  top: 30%;
}

/* LEFT PART */

.left-part {
  margin-left: 6%;
}

.left-part h1 {
  font-size: 90px;
  color: white;
  line-height: 110px;
  float: left;
}

/* RIGHT PART */

.right-part {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 120px;
  margin-right: 6%;
}

.right-part figcaption {
  font-size: 18px;
  color: black;
  font-weight: 400;
  margin-right: 15px;
}

#icon {
  width: 80px;
  cursor: pointer;
}

/* FOOTER */

footer {
	position: relative;
  height: 40px;
	width: 100%;
	bottom: 0;
	background-color: black;
  padding: 10px 0;

}

footer p {
	color: white;
  font-size: 12px;
	text-decoration: none;
	text-align: center;
	width: 100%;
  
}
